# Configurações Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=vendas-tempo-real

# Configurações de Consumidores
KAFKA_GROUP_ID=grupo-consumidor-vendas
KAFKA_AUTO_OFFSET_RESET=earliest

# Configurações Pinot
PINOT_CONTROLLER_URL=http://localhost:9000
PINOT_TABLE=vendas

# Configurações do simulador
INTERVALO_MIN_MS=500
INTERVALO_MAX_MS=2000 